<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>

<body>
    <div id="wrapper">
        <form class="userInputs" action="/results" method="Post">
            {% csrf_token %}
        <div id="topFormBox">
            
                <div class="formDiv">
                    <label for="name" class="inputBox">Your Name:</label>
                    <input class="inputBox" type="text" id="name" name="name">
                </div>
            
                <div class="formDiv">
                    <label for="location" class="inputBox">Dojo Location:</label>
                    <select name="location" class="inputBox" id="location">
                        <option value="San Jose">San Jose</option>
                        <option value="New York">New York</option>
                        <option value="Seattle">Seattle</option>
                        <option value="Tacoma">Tacoma</option>
                        <option value="Los Angeles">Los Angeles</option>
                    </select>
                </div>
                <div class="formDiv">
                    <label for="language" class="inputBox">Favorite Language:</label>
                    <select name="language" class="inputBox" id="language">
                        <option name="language" value="Python">Python</option>
                        <option name="language" value="Java">Java</option>
                        <option name="language" value="C##">C##</option>
                        <option name="language" value="JavaScript">JavaScript</option>
                        <option name="language" value="C++">C++</option>
                    </select>
                </div>
            

        </div>
        <div id="commentBox">
            <label for="comments" class="inputBox" id="comments_label">Comments(optional):</label>
            <textarea name="comments"  id="comments">Comments go here...</textarea>
        </div>
        <div id="footerBox">
            <input type="submit" value="Submit" id="submit_button">
        </div>
        </form>
    </div>
</body>

</html>